* {
 font-family: Roboto, sans-serif;
 margin: 0;
 padding: 0;
}

img { 
    height: 200px;
    width: 200px ;
}

#imgHero {
    height: 300px;
    width: 500px;
}

h1 {
    margin: 0;
}

figure {
    margin: 0;
    width: 200px;
}

.header {
color: #ADADAD;
background-color: #1B4332;
display: flex;
flex-direction: row;
padding: 20px;

}

.headerLogo{
color: white;
font-weight: 600;
font-size: larger;
margin-left: 120px;
margin-right: auto;
}

.onglets {
display: flex;
margin-right: 200px;
gap: 20px; 
}

.hero {
background-color: #1B4332;
color: white;
margin-top: auto;
padding: 60px;
display: flex;
justify-content: center;
gap: 100px;
padding-right: 100px;
align-items: center;
}

#leftBlock{
display: flex;
flex-direction: column;
gap: 20px;
}

#secondaryText {
    color: #ADADAD;
    font-size: 18px;
}

#buttonHero {
background-color: #678876;
color: white;
border: #3382F6;
height: 30px;
width: 200px;
box-sizing: border-box;
border-radius: 8px;
font-size: medium;
}

.randomInfo {
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;

}

.allCards{
    padding: 20px;
    display: flex;
    gap : 60px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quote {
background-color: #daeadd;
padding: 100px;
margin-bottom: 80px;

}

#textQuote{
    font-style: italic;
    font-size: 35px;
    font-weight: lighter;
    color: #4b5764;
}

#nameQuote{
   font-weight: bold;
   font-size: 25px;
   color: #1f2937;
   margin-left: 900px;
}

.encart {
    color: white;
    background-color: #1B4332;
    display: flex;
    margin: 40px 230px ;
    padding: 30px 50px;
    border-radius: 10px;
    align-items: center;
}

#cta {
    font-weight: bold;
    font-size: 20px;

}

#textEncart {
    padding-left: 80px;
}

#buttonCta { 
    height: 30px;
    width: 170px;
    box-sizing: border-box;
    margin-left: 160px;
    border: 1px solid white;
    background-color: #1B4332;
    color: white;
    border-radius: 10px;
}

#subtext {
color:#d0c6c6;
}

.footer {
background-color: #1B4332;
color: white;
display: flex;
justify-content: center;
padding: 20px;
}
#textFooter {
    margin: 0;
}