* {
 font-family: Roboto, sans-serif;
}

.header {
color: #ADADAD;
background-color: #1f2937;
display: flex;
flex-direction: row;
}

.headerLogo{
color: white;
font-weight: 600;
font-size: larger;
margin-left: 80px;
margin-right: auto;
}

.onglets {
display: flex;
margin-right: 200px;
gap: 20px; 
}